.body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.namemenu{
    text-align: left;
    margin-left: 30px;
    color: rgb(99, 99, 99);
}

.namemenu a{
    text-decoration: none;
    color: rgb(99, 99, 99);
}

.namemenu a:hover{
    color: rgb(61, 61, 61);
    text-decoration: underline;
}

.container {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container > header{
    background-color: rgb(227, 17, 17);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container > header img {
    margin: 0px;
    padding: 0px;
}

.cart{
    position:absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    
}

.search{
    border: solid 0 rgb(218, 218, 218) ;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 170px;
    padding-left: 10px;
}
.searchicon{
    position: absolute;
    top: 17px;
    left: 396px;
    width: 16px;
}

.container > nav{
    line-height: 40px;
    background-color: rgb(249, 50, 50);
    color:  white;
    text-align:  center;
    margin-top: 50px;
}
.container > nav > a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.container > nav > a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

hr{
    border: solid rgb(214, 214, 214) 0.5px;
}

.container > footer {
    /* border-top: 5px solid white;  */
    line-height: 50px;
    background-color: rgb(227, 17, 17);
    text-align: center;
    color: white;
    clear: both;
}

.container > .groupall{
    width: 400px;
    height: 650px;
    padding: 20px;
    margin-left: 35%;
    box-shadow: 0 0 10px rgb(203, 203, 203);
    border-radius: 10px;
}

.container > .khoangtrang{
    height: 300px;
}

.formgroup{
   margin-top: 7px;
}

.text{
   font-size: 15px;
}

.formcontrol{
    margin-top: 9px;
    width: 98%;
    height: 30px;
    border: solid 1px rgb(207, 207, 207);
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 7px;
    font-size: 14px;
}

.logintext{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 23px;
}

.dangnhap{
    margin-top: 6px;
    margin-left: 150px;
    width: 90px;
    height: 30px;
    border-radius: 8px;
    border: solid 0;
    background-color: rgb(225, 225, 225);
}

.textcheckbox{
    font-size: 11px;
    color: grey;
    text-align: justify;
}

.dangky {
    width: 90px;
    height: 30px;
    padding: 9px 25px;
    background-color: rgb(225, 225, 225);
    margin-left: 10px;
    color: black;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.formbutton:hover{
    background-color: rgb(195, 195, 195);

}